events {
    event {
        date "22.7."
        text "Vorlesungsfreie Zeit"
    }
}

stations {
    station {
        name "S Adlershof"
        station_id 900193002
        direction1 900193001
        direction2 900186001
        s_bahn true
        tram false
        bus false
        express false
        min_time 5
        max_time 42
        min_time_needed 11
        max_departures 9
    }
    station {
        name "Karl-Ziegler-Str"
        station_id 900194016
        direction1 900194537
        direction2 900194501
        s_bahn false
        tram true
        bus true
        express false
        min_time 3
        max_time 28
        min_time_needed 5
        max_departures 5
    }
    station {
        name "Magnusstr."
        station_id 900194501
        direction1 900194016
        direction2 900194504
        s_bahn false
        tram true
        bus true
        express false
        min_time 3
        max_time 24
        min_time_needed 5
        max_departures 5
    }
}
