events {
    event {
        date "23.6."
        text "Bergfest"
    }
    event {
        date "30.6."
        text "Ringbahntour"
    }
}

stations {
    station {
        name "S Adlershof"
        station_id 900193002
        s_bahn true
        tram false
        bus false
        express false
        min_time 9
        max_time 42
        min_time_needed 11
        max_departures 9
    }
    station {
        name "Karl-Ziegler-Str"
        station_id 900194016
        s_bahn false
        tram true
        bus true
        express false
        min_time 3
        max_time 28
        min_time_needed 5
        max_departures 5
    }
    station {
        name "Magnusstr."
        station_id 900194501
        s_bahn false
        tram true
        bus true
        express false
        min_time 3
        max_time 24
        min_time_needed 5
        max_departures 5
    }
}
